{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["standard", "standard-react"],
  "rules": {
        "comma-dangle": ["error", "never"],
        "semi": 0
    }
}
