.video-uploader {
  display: block;
  text-align: center;
}

.video-uploader input {
  display: block;
}

.video-uploader label {
  padding-bottom: 15px;
}

.video-uploader .video-selector {
  display: block;
  width: 50%;
  position: relative;
  left: 25%;
}

.video-uploader .video-selector input {
  position: relative;
  left: 35%;
  padding: 10px;
}

.video-uploader .video-name-input {
  width: 50%;
  padding: 5px;
  margin: 5px;
  position: relative;
  left: 25%;
}

.video-uploader .video-upload-submit {
  display: block;
  position: relative;
  width: 50%;
  padding: 10px 5px 5px 5px;
  margin: 5px;
  left: 25%;
}
